*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    /* background: url('./computer-gamer-workplace-new-game-mouse-keyboard-blur-pink-neon-light-background-197365086.jpg' )no-repeat; */
    background-size:cover;
}

nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top:20px;
    padding-left: 10%;
    padding-right:10%;

}

.logo{
    color:antiquewhite;
    font-size: 28px;
}

span{
    color:red;
}

nav ul li{
    list-style-type: none;
    display:inline-block;
    padding:10px 20px;
}

.but{
    border:none;
    background:red;
    padding: 12px 25px;
    border-radius: 3px;
    color:aliceblue;
    font-weight: bold;
    font-size: 15px;
    
}